.users{
    margin-top: 100px;
    padding: 60px 60px;
    border-radius: 20px;
    background-color: $usersbg;
    &__heading{
        font-size: 29px;
        font-weight:bold;
        margin-left: 25px;

    }
    &__topBar{
        display: flex;
        justify-content: space-between;
        margin-top: 26px;
        margin-left: 25px;
        margin-right: 25px;
    }
    &__search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10%;
        border: 1px solid $bordercolor;
        border-radius: 4px;
    }
    &__roles{
        font-weight: 400;
        display: flex;
    }
    &__userCards{
        margin-top: 50px;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }
    &__user{
        width: 32%;
        background-color: $cardbg;
        padding: 27px 20px;
        margin-left: 8px;
        margin-bottom: 8px;
        display: inline-flex;
        border-radius: 10px;
        
    }
    &__user:hover{
        outline: 1px solid $bordercolor;
    }
    &__userContent{
        margin-left: 15px;
        padding-top: 15px;
    }
    &__userName{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
    }
    &__userCity{
        font-weight: 500;
    }
    &__userImg > img{
        border-radius: 50%;
    }
    &__userTags > span{
        font-size: 12px;
        color: $spantextcolor;
        border: 1px solid $bordercolor;
        border-radius: 12px;
        background-color: white;
        padding: 1px 8px;
        display: inline-block;
        margin-top: 5px;
        margin-right: 0.5px;
        
        
    }
}